.userPhoto {
    width: 100px;
    height: 100px;
}

.middleLine {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #f2f2f2;
    border: none;
    border-radius: px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.selectedPage {
    background-color: #007bff;
    color: #f70303;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(1px);
    background-color: #ff0000;
}