.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    color: red;
}

.middleLine {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}